.card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  padding: 16px;
  background: #fff;
}
.card-container > .ant-tabs-card .ant-tabs-content {
  height: 120px;
  margin-top: -16px;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #eab308 !important;
}
.ant-tabs-tab-btn {
  color: #686868 !important;
}
.ant-tabs-tab-btn:hover {
  color: #eab308 !important;
  transition: all 0.5s;
}
.ant-tabs-nav-operations {
  display: none !important;
}
[data-theme="compact"] .card-container > .ant-tabs-card .ant-tabs-content {
  height: 120px;
  margin-top: -8px;
}
.ant-tabs-content {
  height: auto !important;
}
