.card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  padding: 16px;
  background: #fff;
}
.card-container > .ant-tabs-card .ant-tabs-content {
  height: 120px;
  margin-top: -16px;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #eab308 !important;
}
.ant-tabs-tab-btn {
  color: #686868 !important;
}
.ant-tabs-tab-btn:hover {
  color: #eab308 !important;
  transition: all 0.5s;
}
.ant-tabs-nav-operations {
  display: none !important;
}
[data-theme="compact"] .card-container > .ant-tabs-card .ant-tabs-content {
  height: 120px;
  margin-top: -8px;
}
.ant-tabs-content {
  height: auto !important;
}
.loading {
  position: relative;
}
.loading svg {
  top: 50%;
  left: 50%;
  position: absolute;
  width: 3.75em;
  animation: 1.5s spin ease infinite;
}

.ring {
  fill: none;
  stroke: hsla(341, 97%, 59%, 0.3);
  stroke-width: 2;
}

.ball {
  fill: #fc2f70;
  stroke: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

html {
  --antd-wave-shadow-color: rgb(245 158 11/1) !important;
}

.site-layout .site-layout-background {
  background: #fff;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  color: rgb(245 28 28/1) !important;
}

.ant-menu-item-selected {
  color: rgb(245 158 11/1) !important;
}

.ant-menu-item-selected a:hover,
.ant-menu-item-selected a {
  color: rgb(245 158 11/1) !important;
}

.ant-menu-submenu-selected {
  color: rgb(245 158 11/1) !important;
}

.ant-menu-submenu:hover i {
  color: rgb(245 158 11/1) !important;
}

.ant-menu-item-selected a,
.ant-menu-item-selected a:hover {
  color: rgb(245 158 11/1) !important;
}

.ant-menu-light .ant-menu-item:hover,
.ant-menu-light .ant-menu-item-active,
.ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-light .ant-menu-submenu-active,
.ant-menu-light .ant-menu-submenu-title:hover {
  color: rgb(245 158 11/1) !important;
}

.ant-menu-light .ant-menu-submenu-active {
  color: rgb(245 158 11/1) !important;
}

.ant-menu-item a:hover {
  color: rgb(245 158 11/1) !important;
}

.ant-menu-item-selected a,
.ant-menu-item-selected :hover a {
  color: rgb(245 158 11/1) !important;
}

.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid rgb(245 158 11/1) !important;
}

.ant-menu-item-icon:hover {
  color: rgb(245 158 11/1) !important;
}

.ant-pagination-item-active:hover {
  color: rgb(245 158 11/1) !important;
  border-color: rgb(245 158 11/1) !important;
}

.ant-pagination-item-active {
  border-color: rgb(245 158 11/1) !important;
}

.ant-pagination-item-active a {
  color: rgb(245 158 11/1) !important;
}
