@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto", sans-serif;
}

ul {
  margin-bottom: 0 !important;
}

p {
  margin-bottom: 0 !important;
}
a {
  color: #ffffff;
}
.st0 {
  fill: none !important;
  stroke: #000000 !important;
  stroke-width: 2 !important;
  stroke-miterlimit: 10 !important;
}
.st1 {
  fill: rgb(220 38 38) !important;
  stroke: #000000 !important;
  stroke-width: 2 !important;
  stroke-miterlimit: 10 !important;
}
.st2 {
  fill: rgb(220 38 38) !important;
  stroke: #000000 !important;
  stroke-width: 2 !important;
  stroke-linecap: round !important;
  stroke-linejoin: round !important;
  stroke-miterlimit: 10 !important;
}
.st3 {
  fill: #f2f2f2 !important;
  stroke: #000000 !important;
  stroke-width: 2 !important;
  stroke-linecap: round !important;
  stroke-linejoin: round !important;
  stroke-miterlimit: 10 !important;
}
.st4 {
  fill: rgb(220 38 38) !important;
  stroke: #000000 !important;
  stroke-width: 2 !important;
  stroke-linecap: round !important;
  stroke-linejoin: round !important;
  stroke-miterlimit: 10 !important;
}
.st5 {
  fill: #ffffff !important;
  stroke: #000000 !important;
  stroke-width: 2 !important;
  stroke-linecap: round !important;
  stroke-linejoin: round !important;
  stroke-miterlimit: 10 !important;
}
.st6 {
  fill: #ffc200 !important;
  stroke: #000000 !important;
  stroke-width: 2 !important;
  stroke-linecap: round !important;
  stroke-linejoin: round !important;
  stroke-miterlimit: 10 !important;
}
.ant-layout.ant-layout-has-sider {
  overflow: hidden;
}
.anticon {
  transform: translateY(-4px) !important;
}
